.cssBody {
    background-color: #ecf2f9;
}
.MES {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    background-image: url(../Imagenes/bgV.jpg);
    font-size: 9px;
}
.DIA {   
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #FFFFCC;
    background-color: #999999;
    font-size: 9px;
}
.Obs {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 9px;
    background-color: #000066;
    font-weight: bold;
    text-transform: uppercase;
}
.BgT {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    background-image: url(../Imagenes/bgT.jpg);
    font-weight: bold;
    font-size: 9px;
    text-transform: uppercase;
}
.TitC {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000066;
    font-size: 9px;
    background-color: #ecf2f9;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.TitL {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000066;
    font-size: 9px;
    background-color: #ecf2f9;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
}
.NvsT {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    background-image: url(../Imagenes/NvsT.gif);
    background-repeat: repeat-x;
    background-color: #ecf2f9;
}
.NvsA {
    background-image: url(../Imagenes/NvsA.gif);
    height: 16px;
    background-repeat: repeat-x;
    background-color: #ecf2f9;
}
.NvsG {
    background-image: url(../Imagenes/NvsG.gif);
    height: 16px;
    background-repeat: repeat-x;
    background-color: #ecf2f9;
}
.C {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    background-color: #ecf2f9;
    font-size: 9px;
}
.N {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000066;
    font-size: 9px;
    background-color: #ecf2f9;
}
.P {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-image: url(../Imagenes/P.gif);
    background-repeat: repeat-x;
    font-size: 9px;
    background-color: #ecf2f9;
}
.NvsR {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    background-image: url(../Imagenes/NvsR.gif);
    background-repeat: repeat-x;
    background-color: #ecf2f9;
}
.TitResumen {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: #000066;
    text-transform: uppercase;
    font-weight: bold;
}
.TTable {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    text-transform: uppercase;
    color: #ecf2f9;
    background-color: #000066;
    border-top: thin none;
    border-right: thin none;
    border-bottom: thin none;
    border-left: thin none;
    cursor: hand;
}
.VTable {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000066;
    font-size: 9px;
}
.cssVerde {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000066;
    background-color: #D3EBA5;
    font-size: 9px;
}
.cssAmarillo {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
    background-color: #ffff00;
    font-size: 9px;
}

.cssAzul {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000066;
    background-color: #C2D5FC;
    font-size: 9px;
}
.cssRojo {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000066;
    background-color: #FF9F9F;
    font-size: 9px;
}
.cssNaranja{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000066;
    background-color: #FF8040;
    font-size: 9px;
}
.cssBlanco {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000066;
    background-color: #ecf2f9;
    font-size: 9px;
}

/***    TITULO DEL PLASMA   ***/
.cssTituloPlasma {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 45px;
    color: #233654;
    text-transform: uppercase;
    font-weight: bold;
}

.cssPlasmaVerde {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: white;
    /*background-color: #008000;*/
    background-color: #69a02c;
    font-size: 20px;
    /*text-align: center;*/
}

.cssPlasmaAmarillo {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: black;
    background-color: #f7de31;
    font-size: 20px;
    /*text-align: center;*/
}

.cssPlasmaRojo {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: white;
    background-color: #d50b0b;
    font-size: 20px;
    /*text-align: center;*/
}

.cssPlasmaAzul {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: white;
    background-color: #1220CD;
    font-size: 18px;
    /*text-align: center;*/
}

/***    TITULO DE LA TABLA  ***/
.cssTitDetPlasma {

    font: 21px Sans-Serif;
    font-weight: bold;
    word-spacing: 5px;
    color: white;
    text-transform: uppercase;
    background-color: #f7a409;
    height: 30px;
    /*text-align: center;*/  
}

/***    TITULOS DE COLUMNAS ***/
.TTablePlasma {
    font-family: Sans-Serif;
    font-size: 16px;
    text-transform: uppercase;
    /*color: #ecf2f9;*/
    color: white;
    background-color: #4b73b4;
    border-top: thin none;
    border-right: thin none;
    border-bottom: thin none;
    border-left: thin none;
    cursor: hand;
}


/***    CELDAS DE INFORMACIÓN   ***/
.TablePlasma {
    background-color: #a5a9a9;
    /*border: 1px solid #CCCCCC;*/
    border: 1px solid white;
    /*    width: 1260px;*/
    width: 100%;
    margin-top: 3px;
    margin-bottom: 10px;
    text-align: center;
}

.cBtnPlasma{
    font-size:15px;
    font-family:Sans-serif;
    font-weight:bold;
    color:white;
    background-color:#f7ac22;
    border-style:solid;
    border-color:#d18b07;
    border-width:1px;
    border-right-width:2px;
    border-right-color:#674403;
    border-bottom-width:2px;
    border-bottom-color:#674403;
}

/*
.cBtnPlasma {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #000066;
    text-transform: none;

}*/

/***    INFORMACION EN CELDAS, CON FONDO BLANCO ***/
.R1TablePlasma {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #34507c;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #FFFFFF;

}

/***    INFORMACION EN CELDAS, CON FONDO COLOR ***/
.R2TablePlasma {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #34507c;
    text-transform: uppercase;
    background-color: #dbe2f0;

}

.FTable {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: #000066;
    text-transform: uppercase;
}
.R1Table {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000066;
    font-size: 9px;
    text-transform: uppercase;
    background-color: #FFFFFF;

}
.R2Table {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: #000066;
    text-transform: uppercase;
}
.Table {
    background-color: #e6f2f9;
    border: 1px solid #CCCCCC;

}

.cBtn {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: #FFFFFF;
    background-color: #FE7018;
    text-transform: none;

}
.FReq {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: #000000;
    background-color: #FFFF00;
}
.cssBGDet {
    background-color: #e6f2f9;
    border: 2px solid #000066;

}
.cssTitDet {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #FE7018;
    text-align: center;
}
.cssLinkOv {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: #FFFFFF;
    cursor: hand;
    border-top-width: thin;
    border-right-width: thin;
    border-bottom-width: thin;
    border-left-width: thin;
    border-right-style: solid;
    border-right-color: #CCCCCC;
    border-bottom-style: solid;
    border-bottom-color: #CCCCCC;
    border-top-style: solid;
    border-left-style: solid;
    border-top-color: #003366;
    border-left-color: #003366;
    font-weight: normal;
    background-color: #fe7018;
    vertical-align: middle;
}
.cssLinkOu {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #003366;
    font-size: 9px;
    font-weight: normal;
    text-decoration: blink;
    border-top-width: thin;
    border-right-width: thin;
    border-bottom-width: thin;
    border-left-width: thin;
    border-top-color: #CCCCCC;
    border-right-color: #003366;
    border-bottom-color: #003366;
    border-left-color: #CCCCCC;
    border-right-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-left-style: solid;
    background-color: #e6f2f9;
    vertical-align: middle;
}

.handM{
    cursor: hand;
}

.Blanco {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #FFFFFF;
}

.Amarillo {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #FFFFCC;
}

.Rojo {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #FF6666;
}

.Verde {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #D3EBA9;
}
.cssLiberaTit {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #000000;
    color: #FFFFFF;
}
.cssLiberaContentB{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    background-color: #FFFFFF;
}
.cssLiberaContent{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    background-color: #FFFFFF;
    text-align: justify;
}
.cssLiberaActividad{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 8px;
    background-color: #FFFFFF;
}


/*****  ESTILOS PARA ASATEJ *****/
#inputArea{
    font-family: Arial, Sans-Serif;
    font-size: 13px;
    padding: 10px;
    width:150px;
}

#inputArea input, #inputArea textarea{
    font-family: Arial, Sans-Serif;
    font-size: 13px;
    margin-bottom: 5px;
    display: block;
    padding: 4px;
    width: 140px;
}

.activo{
    background-image: none;
    background-color: #ffffff;
    border: solid 1px #33677F;
}

.inactivo{
    border: solid 1px #85b1de;
    background-image: url(../Imagenes/blue_bg.png);
    background-repeat: repeat-x;
    background-position: top;
}

.buttons a, .buttons button{
    display:block;
    float:left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}

.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}

.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

button.positive, .buttons a.positive{
    color:#3D5C88;
}

/*****  FIN ESTILOS PARA ASATEJ *****/


.TableConcierge{
    color: #000000;
    border: 1px solid #7F9FBF;
    padding:0.1em 1em .1em;
    text-align:left;
}

.R1TConcierge{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    background: #DFE7EE;

}

/*  Pie de Pagina   */
#piepag {
    font-family: Arial, Helvetica, sans-serif;
    font-variant:small-caps;
    font-weight:bold;
    color: #004B8B;
    font-size: 11px;
    text-align: center;
    position:absolute;
    bottom:10%;
    left:35%;
    /*background: url(img05R.jpg) no-repeat;*/
}

#piepag p {
    text-align: center;
    color: #537DB9;
    font-size: 11px;
}

div.loading-invisible{
    display:none;
}

div.loading-visible{
    display:block;
    position:absolute;
    top:0px;
    left:0px;
    width:103%;
    height:100%;
    text-align:center;
    background-color:#F2F2F2;
    -khtml-opacity:.50;
    -moz-opacity:.50;
    filter:alpha(opacity=50);
    opacity:.50;
    zoom:0;
    z-index:3000
}

#TableValidaSupervisor{
    margin: 25px;
    width: 280px;
    border-collapse: collapse;
    border: 2px solid #000066;
}

#TableValidaSupervisor tbody{
    background: #e8edff;
}

#TableValidaSupervisor td {
    padding:4px;
}

/*-----------------------RESULT LIST--------------------------------------------*/
.Lista {
    border-collapse: collapse; 
    width: auto; 
    background-color: #e6f2f9;
    border: 1px solid #CCCCCC;
} 
.Lista caption {
    font-family: Arial; 
    font-size: 12px; 
    color: #004B85; 
    text-align: center;  
    margin: 11px auto;
}
.Lista tr.Registros th {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000066;
    font-family: Arial; 
    background: #E9EDF5; 
    text-align: left; 
    padding: 5px;
    font-weight: normal;
}     
.Lista tr.Columnas th {
    padding: 5px; 
    font-weight: BOLD; 
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    text-transform: uppercase;
    text-align: center; 
    color: #ecf2f9;
    background-color: #000066;
    border: 1px solid #CCCCCC;
    cursor: hand; 
}
.Lista tr.Contenido th {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: #000066;
    background: #E9EDF5; 
    text-align: center; 
    padding: 5px; 
    border: 0; 
    font-weight: normal;
}   
.Lista tr.Contenido1 th {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: #000066;
    text-align: center; 
    text-transform: uppercase;
    background-color: #FFFFFF;

}
.Lista tr.Contenido2 th {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: #000066;
    text-align: center; 
    text-transform: uppercase;
}
.Lista tr.Contenido td {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: #000066;
    background: #fff; 
    text-align: left; 
    padding: 5px; 
    border-top: 1px dotted #eee;
}      
.Lista tr.Contenido1 td {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: #000066;
    background-color: #FFFFFF;
    text-align: left; 
    padding: 5px; 
    border-top: 1px dotted #eee;
} 
.Lista tr.Contenido2 td {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: #000066;
    text-align: left; 
    padding: 5px; 
    border-top: 1px dotted #eee;
} 
.Lista tr.DataGrid td {
    font-family: Arial; 
    font-size: 9px; 
    color: #666; 
    background: #F6F7F7; 
    text-align: left; 
    padding: 5px; 
    border-top: 1px dotted #004B85;
}      
.Lista a{
    text-decoration: none;
}
.ratonEncima{
    background: #FFE0B2;
}
.ratonEncima th {
    background: #FFE0B2; 
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: #000066;
    text-align: center; 
    padding: 5px; 
    border: 0; 
    font-weight: normal;
}
.ratonEncima td {
    background: #FFE0B2; 
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: #000066;
    text-align: left; 
    padding: 5px; 
    border-top: 1px dotted #eee;
}

/*
.cssVerdeFuerte{
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: #000066;
        background-color: #216802;
        font-size: 9px;
}
.cssRojoFuerte{
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: #000066;
        background-color: #BB1306;
        font-size: 9px;
}
*/